AWS_ACCESS_KEY = "your_aws_access_key"
AWS_SECRET_KEY = "your_aws_secret_key"
AWS_REGION = "enter_the_aws_region_to_use"
KEY_NAME = "the_name_of_an_existing_ec2_keypair_for_the_region"
CIDR_PREFIX = "choose_a_two_block_cidr_prefix_for_the_VPC_such_as_10.50"
SERVICE_NAME = "enter_an_identifier_name_for_your_service"
